body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 90vh;
    text-align: center;
    
}
#game-arena{
    height: 600px;
    width: 600px;
    position: relative;
    background-color: #767676;
    border-radius: .2rem;
    border: 5px solid rgb(74, 60, 60);
    box-shadow:  0 0 40px rgba(89, 92, 64, 0.5)
}

#score-board{
    font-size: x-large;
    color: black;
    margin: 10px;
}

.start-button{
    margin: 10px 0;
    background-color: rgb(227, 243, 141);
    color: black;
    padding: 7px 6px;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 18px;
}


.food{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    animation: blink 1s infinite;
}
@keyframes blink {
    50%{
        opacity: 0.5;
    }
}

.snake{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    background-color: chartreuse;
}

